DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/kaspi_payment
ALLOWED_IPS=194.187.247.152,194.187.245.108,197.187.244.108
ACCOUNT_REGEX=^[A-Za-z0-9_.@#\-]{1,200}$
HTTPS_HEADER=X-Forwarded-Proto
HTTPS_VALUE=https
TRUST_PROXY_HEADERS=true
SQL_ECHO=false
